body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-image: url("images/table.jpeg");
    background-size:cover;
}

h1 {
    color: goldenrod;
}

#msg {
    font-style: italic;
}

button {
    width: 160px;
    color: #016f32;
    background: goldenrod;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 3px auto;
}